#loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
